.uploadPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
  }
  
  .dragger {
    margin-bottom: 30px;
  }
  
  .listTitle {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }
  